.center {
    margin: auto;
    padding-top: 10%;
  }

.row .col {
    float: none;
}

.margin-auto {
    margin: auto;
}

.pre-line {
    white-space: pre-line;
}

nav {
    background-color: #48A9A6;
    color: #48A9A6;
}

body {
    background-color: #FFFAFB;
}

.dropdown-trigger {
    background-color: #C1666B !important;   
}

.btn {
    background-color: #C1666B;
}

#postcode-box-label, #address-box-label {
    color: #C1666B;
}